.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.bodyContent {
  flex: 1;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.formButton {
  padding: 1rem;
}

.file-icon {
  margin-right: 0rem !important;
}

.footer {
  padding: 1.5rem !important;
}